
.login-form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    padding:20px;
    position: relative;
    width: 420px;
    background:#fff;
    border-radius: 10px;
    color: #1a1a1b;
    box-shadow: 0px 0px 10px 5px #485a705d;
}
.wrapper .form-box{
    width: 100%;
    padding: 0px 40px 40px;
}
form h1{
    font-size: 36px;
    text-align: center;
}

form .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0; 
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0.464);
    border-radius: 40px;
    font-size: 16px;
    color: #606060;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #606060;
}
.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
    color: #60606096;
}
form .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    font-weight: 300;
    margin: -15px 0px 15px;
    color: #606060;
}
.register-form{
    padding-top: 90px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 4px;
}
.remember-forgot a{
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
form .button button{
    width: 70%;
    height: 45px;
    background: #213555;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: 16px;
    color: #fff;
    font-weight: 700;
    margin-top: 15px;
}
form .register-link{
    color: #606060;
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: none;
    text-decoration: none;
    font-weight: 300;
}
.register-link p a:hover{
    text-decoration: underline;
}
.input-box .no-arrows::-webkit-inner-spin-button,
.input-box .no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}


.input-box .no-arrows {
  -moz-appearance: textfield; 
}


@media screen and (max-width: 460px) {
    .wrapper{
        width: 380px;
    }
    
}
@media screen and (max-width: 410px) {
    .wrapper{
        width: 320px;
    }
    
}

.not-valid{
    color: red;
    font-size: 12px;
    font-weight:400;
    padding-left: 10px;
}


.input-box .input-invalid{
    border-color: red;
}