.dress-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.product-item{
    background-color: white;
    border-radius: 10px;

}
.product-item:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #00000015;
}

.dress-item-image{
    width: 100%;
    height: 300px;
    border-radius: 14px ;
}

.image-scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    scrollbar-width: none; /* For Firefox */
}

.image-scroll-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.image-wrapper {
    flex: 0 0 auto;
    width: 100%;
}


.dress-item-info{
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dress-item-name-rating{
    color: #1a1a1d;
    margin-top:5px;
    margin-bottom: 10px;
    position: relative;
}

.dress-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.dress-item-name-rating img {
    width: 70px;
    position: absolute;
    top: -20px;
    right: 0;
}

.dress-item-desc{
    color: #676767;
    font-size: 12px;
}

.dress-item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dress-item-price{
    color: #606060;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

.add-to-cart-product {
    border:1px solid #1a1a1d;
    color: #1a1a1d;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}
.add-to-cart-product:hover {
    transform: scale(1.2);
    background-color: #efb036;
    border: none;
    
}

.product-display{
    margin: 30px;
    padding: 20px;
}

.product-display h2{
    font-size:max(2vw,24px);
    font-weight: 600;
    
}

.product-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}


.filter-main{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(105px,1fr));
    margin:20px;
    gap: 40px;
}
.filter-main button, .filter-button button{
    padding: 10px 20px;
    background: #213555;
    color: white;
    font-size: medium;
    cursor: pointer;
    border: none;
}
.filter-button{
    margin-left: 20px ;
}
